{% extends "master.html" %}

{% block main %}
  <h1>Recipes</h1>
    <form id="search_form" method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <input type="text" id="search_name" name="recipe_name" placeholder="Name">
        <input type="number" id="search_difficulty" name="recipe_difficulty" placeholder="Difficulty">
        <button type="submit">Search</button>
    </form>

  <ul>
    {% for recipe in page_obj %}
      <li>
        <a href="{% url 'recipe_detail' recipe.pk %}" >
          {{ recipe.name }}-{{ recipe.difficulty }}
        </a>
      </li>
    {% empty %}
      <p>No food >:{.</p>
    {% endfor %}
  </ul>

{% endblock %}