<header xmlns="http://www.w3.org/1999/html">
    <nav>
        <p>
            <a  href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'contacts' %}">Contacts</a>
            {% if user.is_authenticated %}
                <p align="right"><a href="{% url 'profile' %}">Profile</a>
                <form action="{% url 'logout' %}" method="post", align="right">
                    {% csrf_token %}
                    <button type="submit">Logout</button>        <!-- allign and frontend will do later with CSS-->
                </form>
                </p>
            {% else %}
                <p align="right">
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'registration' %}">Register</a>
                </p>
            {% endif %}
        </ul>
    </nav>
lines are only temporary
<hr>
</header>