.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff7e6;
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.main-content h1,.main-content h2,.main-content h3{
    color: #ff7733;
}

.main-content h4,.main-content h5{
    font-style: italic;
}

.main-content a{
    color: #ff7733;
  text-decoration: none;
  transition: color 0.3s;
}

.main-content a:hover{
    color: #ff9966;
}